@font-face {
    font-family: "ABC";
    src: url("font/Bristain\ Rought.ttf");
}

@font-face {
    font-family: "PARTY";
    src: url("font/PARTY\ SIZE.otf");
}

@font-face {
    font-family: "MY";
    src: url("font/MyriadVariableConcept-Roman.otf");
}